.profile {
  grid-column: 6 / -1;

  display: flex;
  flex-direction: column;
  margin: 1.5rem 4rem;

  &__header {
    display: flex;
    margin: 1.5rem 0 1.8rem 0;
    align-items: center;
    justify-content: space-between;

    &__logo {
      font-size: 2.5rem;
      color: #f08c55;
      &:hover {
        cursor: pointer;
      }
    }

    &__button {
      visibility: hidden;
      padding: 0.8rem 1rem;
      font-size: 1.2rem;
      font-weight: 600;
      border-radius: 100px;
      color: white;
      background-color: #f0884e;
      @media only screen and (max-width: 700px) {
        visibility: visible;
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4.5rem;

    &_button {
      height: 3rem;
      width: 10rem;
      font-size: 1.2rem;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
      color: white;
      background-color: #f0884e;

      // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

      &:hover {
        cursor: pointer;
        background-color: rgba(240, 135, 78, 0.929);
      }
      @media only screen and (max-width: 850px) {
        height: 2.8rem;
        width: 9rem;
      }
      @media only screen and (max-width: 740px) {
        height: 2.5rem;
        width: 8rem;
      }
    }

    &_details {
      position: relative;
      display: flex;
      align-items: center;
      gap: 2rem;

      & ion-icon:first-child {
        font-size: 2.5rem;
        &:hover {
          cursor: pointer;
        }
      }

      .show-icon {
        font-size: 2rem;
        color: #f0884e;
        &:hover {
          cursor: pointer;
        }
      }

      .notification-dot {
        position: absolute;
        top: 0.5rem;
        left: 1.4rem;
        height: 0.5rem;
        width: 0.5rem;
        border-radius: 50%;
        background-color: #f0884e;
      }

      &-data {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
      }

      &-photo img {
        height: 3rem;
        width: 3rem;
        object-fit: cover;
        border-radius: 50%;
        &:hover {
          cursor: pointer;
        }
      }
      &-name {
        & p:first-child {
          font-size: 1rem;
          color: gray;
          font-weight: 500;
          line-height: 1.5;
        }
        & p:nth-child(2) {
          font-size: 1.2rem;
          letter-spacing: -0.01rem;
          font-weight: 700;
        }
      }
      @media only screen and (max-width: 1000px) {
        gap: 1.5rem;
      }
      @media only screen and (max-width: 950px) {
        gap: 1rem;
      }
      @media only screen and (max-width: 850px) {
        gap: 1.5rem;
      }
      @media only screen and (max-width: 740px) {
        gap: 1rem;
        & ion-icon:first-child {
          font-size: 2.2rem;
        }
        .show-icon {
          font-size: 1.8rem;
          color: #f0884e;
        }
      }
    }
    @media only screen and (max-width: 700px) {
      display: none;
    }
  }

  &__team {
    margin-bottom: 3rem;
    &_heading {
      font-size: 1.8rem;
      letter-spacing: -0.01rem;
      font-weight: 700;
      margin-bottom: 1rem;

      @media only screen and (max-width: 700px) {
        margin-top: 0.5rem;
      }
      @media only screen and (max-width: 500px) {
        margin: 2rem 0;
      }
    }
    &_photos {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      & img {
        height: 4rem;
        width: 4rem;
        object-fit: cover;
        border-radius: 50%;
        &:hover {
          cursor: pointer;
        }
        @media only screen and (max-width: 1000px) {
          height: 3.5rem;
          width: 3.5rem;
        }
        @media only screen and (max-width: 900px) {
          height: 3rem;
          width: 3rem;
        }
        @media only screen and (max-width: 740px) {
          height: 2.5rem;
          width: 2.5rem;
        }
        @media only screen and (max-width: 500px) {
          height: 4rem;
          width: 4rem;
        }
        @media only screen and (max-width: 400px) {
          height: 3rem;
          width: 3rem;
        }
      }

      &-jr {
        height: 4rem;
        width: 4rem;
        font-size: 1.5rem;
        color: #ef7f44;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #fcf2e0;
        &:hover {
          cursor: pointer;
        }

        @media only screen and (max-width: 1000px) {
          height: 3.5rem;
          width: 3.5rem;
        }
        @media only screen and (max-width: 900px) {
          height: 3rem;
          width: 3rem;
        }
        @media only screen and (max-width: 500px) {
          height: 4rem;
          width: 4rem;
        }
        @media only screen and (max-width: 400px) {
          height: 3rem;
          width: 3rem;
        }
      }
      &-plus {
        height: 2.5rem;
        width: 2.5rem;
        font-size: 2rem;
        color: #ef7f44;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 2px dashed #ef7f44;
        background-color: #fcf2e0;
        &:hover {
          cursor: pointer;
        }

        @media only screen and (max-width: 1000px) {
          height: 2rem;
          width: 2rem;
        }
        @media only screen and (max-width: 900px) {
          height: 1.8rem;
          width: 1.8rem;
        }
        @media only screen and (max-width: 500px) {
          height: 3rem;
          width: 3rem;
        }
        @media only screen and (max-width: 400px) {
          height: 2rem;
          width: 2rem;
        }
      }
    }
  }

  &__realdata {
    margin-bottom: 3rem;
    height: 8rem;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &_time p:first-child {
      color: rgba(0, 0, 0, 0.404);
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 0.5rem;
    }

    &_time p:nth-child(2) {
      font-size: 1.5rem;
      font-weight: 700;
    }

    &_progress p:first-child {
      color: rgba(0, 0, 0, 0.404);
      font-size: 1.1rem;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }

    &_progress p:nth-child(2) {
      font-size: 1.5rem;
      font-weight: 700;
    }

    &_tasks p:first-child {
      color: rgba(0, 0, 0, 0.404);
      margin-bottom: 0.5rem;
      font-size: 1.1rem;
      font-weight: 600;
    }

    &_tasks p:nth-child(2) {
      font-size: 1.5rem;
      font-weight: 700;
    }

    @media only screen and (max-width: 1100px) {
      padding: 0 1rem;
    }

    @media only screen and (max-width: 1000px) {
      padding: 0 1rem;
    }
    @media only screen and (max-width: 950px) {
      height: 7.5rem;
      padding: 0 0.2rem;
    }
    @media only screen and (max-width: 850px) {
      padding: 0 1.5rem;
    }
    @media only screen and (max-width: 770px) {
      padding: 0 0.5rem;
    }
    @media only screen and (max-width: 740px) {
      padding: 0 0.5rem;
      &_time p:first-child {
        font-size: 1rem;
      }

      &_time p:nth-child(2) {
        font-size: 1.3rem;
      }

      &_progress p:first-child {
        font-size: 1rem;
      }

      &_progress p:nth-child(2) {
        font-size: 1.3rem;
      }

      &_tasks p:first-child {
        font-size: 1rem;
      }

      &_tasks p:nth-child(2) {
        font-size: 1.3rem;
      }
    }
    @media only screen and (max-width: 700px) {
      padding: 0 2.5rem;
    }
    @media only screen and (max-width: 600px) {
      padding: 0 2rem;
    }
    @media only screen and (max-width: 550px) {
      padding: 0 1rem;
    }
    @media only screen and (max-width: 500px) {
      padding: 0 4rem;
    }
    @media only screen and (max-width: 400px) {
      padding: 0 3rem;
    }
  }

  &__dailywork {
    &_heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;

      & p:first-child {
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: -0.01rem;
      }
      & p:nth-child(2) {
        font-size: 1.4rem;
        font-weight: 500;
        color: #ef7f44;
        margin-right: 3rem;
        &:hover {
          cursor: pointer;
        }
      }
      @media only screen and (max-width: 700px) {
        margin-top: 1.5rem;
        margin-bottom: 3rem;
      }
    }

    &_tasks {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
      // padding: 1rem;

      &_card {
        height: 12rem;
        border-radius: 10px;
        box-shadow: rgba(149, 157, 165, 0.315) 0px 4px 8px;
        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }
        @media only screen and (max-width: 700px) {
          height: 13rem;
        }
      }

      .task-card1 {
        position: relative;
        background-color: #f6f1eb;

        & p {
          font-size: 1.5rem;
          font-weight: 500;
          padding: 3.5rem 2rem 0 2.5rem;
        }

        .add-icon {
          position: absolute;
          font-size: 2rem;
          right: 1.5rem;
          bottom: 1rem;
          &:hover {
            cursor: pointer;
          }
        }
        @media only screen and (max-width: 950px) {
          & p {
            padding: 2rem 2rem 0 1.5rem;
          }
        }
        @media only screen and (max-width: 850px) {
          & p {
            font-size: 1.3rem;
            padding: 2.5rem 2rem 0 2rem;
          }
        }
      }

      .task-card2 {
        &_status {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 0.5rem;
          margin: 1rem 2rem 0 0;

          &-icon {
            height: 0.5rem;
            width: 0.5rem;
            border-radius: 50%;
            background-color: orangered;
          }

          &-text {
            font-size: 1.1rem;
            font-weight: 700;
          }

          &-checkbox {
            cursor: pointer;
            height: 0.8rem;
            width: 0.8rem;
            appearance: none;
            outline: 1px solid #f08c55;
            &:checked {
              color: white;
              background-color: black;
            }
          }
        }
        &_info {
          font-size: 1.5rem;
          font-weight: 500;
          padding: 1rem 2rem 0 2rem;
        }
        @media only screen and (max-width: 770px) {
          &_info {
            font-size: 1.3rem;
          }
        }
      }

      .task-card3 {
        &_status {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 0.5rem;
          margin: 1rem 2rem 0 0;

          &-icon {
            height: 0.5rem;
            width: 0.5rem;
            border-radius: 50%;
            background-color: rgb(10, 172, 225);
          }
          &-text {
            font-size: 1.1rem;
            font-weight: 700;
          }

          &-checkbox {
            cursor: pointer;
            height: 0.8rem;
            width: 0.8rem;
            appearance: none;
            outline: 1px solid #f08c55;
            &:checked {
              color: white;
              background-color: black;
            }
          }
        }
        &_info {
          font-size: 1.5rem;
          font-weight: 500;
          padding: 1rem 2rem 0 2rem;
        }
        @media only screen and (max-width: 770px) {
          &_info {
            font-size: 1.3rem;
          }
        }
      }

      .task-card4 {
        background-color: #f08c55;
        &_status {
          display: flex;
          align-items: center;
          color: white;
          justify-content: flex-end;
          gap: 0.5rem;
          margin: 1rem 2rem 0 0;

          &-icon {
            height: 0.5rem;
            width: 0.5rem;
            border-radius: 50%;
            background-color: white;
          }
          &-text {
            font-size: 1.1rem;
            font-weight: 700;
          }
          &-checkbox {
            cursor: pointer;
            height: 0.8rem;
            width: 0.8rem;
            appearance: none;
            outline: 1px solid white;
            &:checked {
              color: white;
              background-color: black;
            }
          }
        }
        &_info {
          color: white;
          font-size: 1.5rem;
          font-weight: 500;
          padding: 1rem 2rem 0 2rem;
        }

        @media only screen and (max-width: 770px) {
          &_info {
            font-size: 1.3rem;
          }
        }
      }

      @media only screen and (max-width: 500px) {
        gap: 3rem;
        margin-bottom: 2rem;
      }
    }
  }

  @media only screen and (max-width: 700px) {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
  }
  @media only screen and (max-width: 500px) {
    grid-row: 3 / -1;
    grid-column: 1 / -1;
    margin-top: 2rem;
  }
}

// .dailytask-scroll {
//   height: 28rem;
//   overflow-x: hidden;
//   overflow-y: auto;
//   text-align: justify;
//   scrollbar-width: none;
//   -ms-overflow-style: none;
// }

// .dailytask-scroll::-webkit-scrollbar {
//   display: none;
// }
