.project {
  background-color: #fdfdfd;
  grid-column: 3 / 6;
  padding: 1.5rem 4rem;
  box-shadow: -0.6rem 0 3rem -2px rgba(0, 0, 0, 0.1);

  &__heading {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: -0.01rem;
    margin: 0.5rem 0 2rem 0;
  }

  &__search {
    background-color: white;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3.5rem;
    border-radius: 100px;
    border: 1px solid rgba(128, 128, 128, 0.543);

    &__input {
      border: none;
      height: 2rem;
      font-size: 1rem;
      width: 80%;

      &:focus {
        outline: none;
        width: 88%;
        font-size: 0.9rem;
        background-color: rgba(255, 255, 255, 0.502);
      }

      &::-webkit-input-placeholder {
        font-weight: 300;
      }
    }

    &__icon {
      font-size: 1.1rem;
      padding: 0 0.8rem 0 1rem;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__recent {
    margin: 3.5rem 0 2.5rem 0;
    &_heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;
      & p:first-child {
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: -0.01rem;
      }
      & p:nth-child(2) {
        font-size: 1.3rem;
        font-weight: 500;
        color: #f08c55;
        &:hover {
          cursor: pointer;
        }
      }
    }

    &_info {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media only screen and (max-width: 850px) {
        flex-direction: column;
      }
      @media only screen and (max-width: 500px) {
        flex-direction: row;
        padding: 2rem;
      }
      @media only screen and (max-width: 400px) {
        flex-direction: column;
        padding: 0;
      }
    }

    &_card {
      height: 30rem;
      width: 48%;
      border-radius: 20px;
      padding: 3rem 2rem;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2.5rem;
      }

      &_gallery {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
      }

      .plus2 {
        height: 3rem;
        width: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 1.3rem;
        border-radius: 50%;
        background-color: #fce5bc;
        z-index: 10;
        border: 2px solid black;
      }

      .plus3 {
        color: white;
        border: 2px solid #fcbda3;
        z-index: 10;
        font-weight: 600;
        background-color: black;
      }

      &_img {
        height: 3rem;
        width: 3rem;
        object-fit: cover;
        border-radius: 50%;
        border: 2px solid #fcbda3;

        &:not(:first-child) {
          margin-left: -1.3rem;
          z-index: 5;
        }
        &:last-child {
          z-index: 1;
        }
      }

      &_logo {
        font-size: 1.8rem;
        line-height: 0;
        &:hover {
          cursor: pointer;
        }
      }

      &_data {
        &_title {
          font-size: 2rem;
          font-weight: 700;
        }

        &_deadline {
          font-weight: 500;
          line-height: 4;
        }
      }

      &_progress {
        & p {
          font-weight: 500;
          line-height: 2.5;
        }

        &-bar {
          height: 0.5rem;
          width: 100%;
          background-color: #dea68f;
          border-radius: 100px;

          & div {
            height: 0.5rem;
            width: 40%;
            border-radius: 100px;
            background-color: black;
          }
        }
      }
      &:nth-child(1) {
        background-color: #fcbda3;
      }
      &:nth-child(2) {
        .project__recent_card_progress {
          &-bar {
            background-color: #decaa5;
            & div {
              width: 70%;
            }
          }
        }
        .project__recent_card_img {
          border: 2px solid #fce5bc;
        }
        background-color: #fce5bc;
      }
      &:hover {
        cursor: pointer;
        transform: scale(1.02);
      }

      @media only screen and (max-width: 850px) {
        height: 25rem;
        width: 80%;
        margin: 1rem 0;
      }

      @media only screen and (max-width: 500px) {
        height: 28rem;
        width: 48%;
      }
      @media only screen and (max-width: 400px) {
        height: 28rem;
        width: 65%;
      }
    }
  }

  &__reminder {
    &_heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 2rem;

      & p {
        font-size: 1.8rem;
        font-weight: 700;
        letter-spacing: -0.01rem;
      }
    }

    &_card {
      height: 12rem;
      border-radius: 20px;
      border: 1px solid #aba49969;
      padding: 2rem 3rem;
      // box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &_data {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
      }

      &_info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // padding-right: 13rem;
      }

      &_time {
        & p {
          color: rgba(0, 0, 0, 0.664);
          font-size: 1.2rem;
          font-weight: 550;
          line-height: 1.2;
        }
      }

      &_title {
        & p {
          width: 20vw;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.2;
        }
      }

      &_button {
        font-size: 1.2rem;
        font-weight: 600;
        padding: 1rem 2rem;
        border-radius: 100px;
        border: 1px dashed #ffb393;
        &:hover {
          cursor: pointer;
          background-color: #ffb3933f;
        }
      }

      &_footer {
        display: flex;
        gap: 0.5rem;
        align-self: center;

        &-icon {
          height: 0.6rem;
          width: 0.6rem;
          border-radius: 50%;
          background-color: #f08b5547;

          &:first-child {
            background-color: #f08c55;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    @media only screen and (max-width: 850px) {
      &_heading {
        & p {
          font-size: 1.8rem;
          letter-spacing: -0.01rem;
        }
      }

      &_card {
        height: 10rem;
        padding: 1.5rem 1.5rem 1rem 1.5rem;

        &_time {
          & p {
            font-size: 1.1rem;
          }
        }

        &_title {
          & p {
            width: 18vw;
            font-size: 1.5rem;
            line-height: 1.2;
          }
        }

        &_button {
          padding: 0.8rem 0.8rem;
        }
      }
    }
    @media only screen and (max-width: 740px) {
      &_card {
        height: 9rem;
        padding: 1rem 1rem 1rem 1rem;

        &_title {
          & p {
            font-size: 1.4rem;
          }
        }

        &_button {
          padding: 0.5rem 0.5rem;
        }
      }
    }

    @media only screen and (max-width: 700px) {
      &_card {
        height: 9rem;
        padding: 1.5rem;

        &_title {
          & p {
            width: 26vw;
            font-size: 1.4rem;
          }
        }

        &_button {
          padding: 0.5rem 0.8rem;
        }
      }
    }

    @media only screen and (max-width: 550px) {
      &_card {
        height: 10rem;
        padding: 1.5rem 1rem 1rem 2rem;

        &_time {
          & p {
            font-size: 1.2rem;
          }
        }

        &_title {
          & p {
            width: 25vw;
            font-size: 1.5rem;
          }
        }

        &_button {
          padding: 0.5rem 0.5rem;
        }
      }
    }

    @media only screen and (max-width: 500px) {
      &_card {
        height: 11rem;
        padding: 2rem 2rem 1.5rem 2rem;

        &_time {
          & p {
            font-size: 1.2rem;
          }
        }

        &_title {
          & p {
            width: 50vw;
            font-size: 1.8rem;
          }
        }

        &_button {
          padding: 1rem 1.5rem;
        }
      }
    }
  }
  @media only screen and (max-width: 850px) {
    padding: 1.5rem 3rem;
  }
  @media only screen and (max-width: 770px) {
    padding: 1.5rem 2rem;
  }
  @media only screen and (max-width: 700px) {
    grid-row: 2 / -1;
    grid-column: 1 / 2;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 5.2px;
  }
  @media only screen and (max-width: 500px) {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }
}
@media only screen and (max-width: 850px) {
  .recent_scroll {
    height: 28rem;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .recent_scroll::-webkit-scrollbar {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .recent_scroll {
    height: 32rem;
    overflow: hidden;
  }
}

@media only screen and (max-width: 400px) {
  .recent_scroll {
    height: 28rem;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .recent_scroll::-webkit-scrollbar {
    display: none;
  }
}
