.sidebar {
  background-color: #f2ebe1;

  &__heading {
    padding: 1.5rem 0 1.5rem 2rem;
    border-bottom: 1px solid rgba(128, 128, 128, 0.258);

    & p:first-child {
      font-size: 2rem;
      font-weight: 700;
      line-height: 1.4;

      &:hover {
        cursor: pointer;
      }
    }
    & p:nth-child(2) {
      color: rgba(0, 0, 0, 0.664);
      font-size: 1.2rem;
      font-weight: 520;
    }
  }
  &__menu {
    font-size: 1.5rem;
    padding: 3rem 2rem 0rem 2rem;

    &_team {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.5rem;

      & p {
        font-weight: 700;
        letter-spacing: -0.01rem;
      }

      & ion-icon {
        padding-bottom: 0.3rem;
        &:hover {
          cursor: pointer;
        }
      }
    }

    &_project {
      margin-bottom: 2rem;

      &-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & p {
          font-weight: 700;
          letter-spacing: -0.01rem;
        }
        & ion-icon {
          padding-bottom: 0.3rem;
          &:hover {
            cursor: pointer;
          }
        }
      }

      &-details {
        margin: 1.5rem 0 0 2rem;
        & p {
          color: rgba(0, 0, 0, 0.664);
          font-size: 1.2rem;
          font-weight: 520;
          margin-bottom: 0.8rem;
        }
        & p:last-child {
          color: black;
        }
      }
    }
    &_task {
      margin-bottom: 2rem;
      &-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & p {
          font-weight: 700;
          letter-spacing: -0.01rem;
        }
        & ion-icon {
          padding-bottom: 0.3rem;
          &:hover {
            cursor: pointer;
          }
        }
      }

      &-details {
        margin: 1.5rem 0 0 2rem;
        & p {
          color: rgba(0, 0, 0, 0.664);
          font-size: 1.2rem;
          font-weight: 520;
          margin-bottom: 0.8rem;
        }
        & p:last-child {
          color: black;
        }
      }
    }
    &_reminder {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1.5rem;

      & p {
        font-weight: 700;
        letter-spacing: -0.01rem;
      }
      & ion-icon {
        padding-bottom: 0.3rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
    &_messenger {
      display: flex;
      align-items: center;
      justify-content: space-between;
      & p {
        font-weight: 700;
        letter-spacing: -0.01rem;
      }
      & ion-icon {
        padding-bottom: 0.3rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
